name: Build assets
on:
  push:
    branches:
    - master
    - staging

jobs:
  yarn:
    name: Yarn
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: npm install
      run: npm install
    - name: webpack
      run: npx webpack --config webpack.config.js
    - name: Archive production artifacts
      uses: actions/upload-artifact@v1
      with:
        name: build
        path: dist
